    /* Font  */
    /* This CSS file contains all included fonts the other CSS files will
    be using. To prevent too much clutter in the styling per device, a seperate
    Font.css is loaded beforehand.  */

    /* Included Fonts 
    1. Open Sans 
    2. Montserrat */


    /* ==1. Open Sans== */

    @font-face {
        font-family: 'open_sansbold_italic';
        src: url('../fonts/open_sans/opensans-bolditalic-webfont.eot');
        src: url('../fonts/open_sans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-bolditalic-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-bolditalic-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-bolditalic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sansregular';
        src: url('../fonts/open_sans/opensans-regular-webfont.eot');
        src: url('../fonts/open_sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sansextrabold_italic';
        src: url('../fonts/open_sans/opensans-extrabolditalic-webfont.eot');
        src: url('../fonts/open_sans/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-extrabolditalic-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-extrabolditalic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sanssemibold_italic';
        src: url('../fonts/open_sans/opensans-semibolditalic-webfont.eot');
        src: url('../fonts/open_sans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-semibolditalic-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-semibolditalic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sansbold';
        src: url('../fonts/open_sans/opensans-bold-webfont.eot');
        src: url('../fonts/open_sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'),
             url('o../fonts/open_sans/pensans-bold-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-bold-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sanslight_italic';
        src: url('../fonts/open_sans/opensans-lightitalic-webfont.eot');
        src: url('../fonts/open_sans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-lightitalic-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-lightitalic-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-lightitalic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sansextrabold';
        src: url('../fonts/open_sans/opensans-extrabold-webfont.eot');
        src: url('../fonts/open_sans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-extrabold-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-extrabold-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-extrabold-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sansitalic';
        src: url('../fonts/open_sans/opensans-italic-webfont.eot');
        src: url('../fonts/open_sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-italic-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-italic-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-italic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sanslight';
        src: url('opensans-light-webfont.eot');
        src: url('../fonts/open_sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-light-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-light-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-light-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sanssemibold';
        src: url('../fonts/open_sans/opensans-semibold-webfont.eot');
        src: url('../fonts/open_sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-semibold-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-semibold-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-semibold-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'open_sanslight';
        src: url('../fonts/open_sans/opensans-light-webfont.eot');
        src: url('../fonts/open_sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/open_sans/opensans-light-webfont.woff2') format('woff2'),
             url('../fonts/open_sans/opensans-light-webfont.woff') format('woff'),
             url('../fonts/open_sans/opensans-light-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    
    }

    /* ==2. Montserrat== */

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
