
body{
    box-sizing: border-box;     
    max-width: 1020px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;   
}
body > hr{
    width: 100%;
}
    h1{
        text-transform: uppercase;
        font-family: "open_sanssemibold";
        color: #684F40;
        font-weight: bold;        
    }
    h2{
        text-transform: uppercase;
        font-family: "open_sanssemibold";
        color: #684F40;
        font-weight: bold;        
    }
    p{
        font-family: "open_sanslight";
        font-size:12px;
    }
    
    hr {
        width:5rem;
        background-color: #FDB822;
    }
      /* Removes all unneeded decoration in links  */
    a, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }
   

    /* ===========================
       =====   Navigation   ======
       =========================== */
        /* Navigation should only have the dropdown hamburger menu in the moble version.
        to keep it clean, added a seperate media query so none of the below is taken to the tablet.css        */

@media only screen and (max-width:768px){
   header{
        position: relative;
        height: 40%;
        background-color: #CCCCCC95;
        width: 100%;
        height: 5vh;
        z-index: 5;
        top:0.3%;
        position: absolute;
    }
     #showMenu{
        appearance: none; 
        position: absolute;
        right:5%;
        }
           /* the burger icon is defined here */
    #showMenu::after{
        content:"\2630";
        display: block;
        font-size: 1.0rem;
        text-align:right;        
        padding:0rem;  
    }
    #showMenu + ul{        
        font-size: 0rem;
        transition: all 0.5s ease-in;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        text-align: center;
        position: absolute;
        top: 5vh;
        background-color: #CCCCCC95;
        width: 100%;
    }   
        /* when showMenu is checked, show the ul content */
    #showMenu:checked + ul{      
        font-size: 0.8rem;
        padding:1rem 0;
        font-weight: 800; 
        top: 5vh;
    }     
    nav li {
    font-family: "open_sanslight";        
    }
    nav img{
        position: absolute;
        left: 5%;
        top: 20%;
        height: 60%;      
    }
    nav li:nth-child(5){
        display: none;
    }
    .verticalLine{
        display: none;
    }
}
nav li{
    background-color: none;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid black;   
    display: block;
}
nav li a{
    display: block;
}
nav li:hover{
    background-color: #FDB822;
}
nav li:nth-child(9){
    border: none;
}    

        /* END NAVIGATION */


    /* ===========================
       =====   Hero Header =======
       =========================== */
    

    .heroSection{        
        background-image: url(../images/sliders/M-slide-2.jpeg);        
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;              
        position: relative;        
        width: 100%;
        height: 40vh;
    }    
    .heroHeader {        
        position: absolute;              
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;      
    }
    .heroHeader h1{
        color:#ffffff;
        font-size: 2rem; 
    }
    .heroHeader p {
        font-size: 1.3rem;        
    }
   

    /* ===========================
       =====   Products    =======
       =========================== */
   

    .products{
        margin: 0 5%;              
    }
    .productHeader{
        text-align: center;
        margin-bottom: 2rem;
    }
     /* # place the products in a grid */
    .productContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);          
        gap: 1rem;        
    }
     /* # set card properties and height because the image needs the exact same height */
    .productCard{        
        text-align: center;  
        gap:2rem;         
        border: 0.1rem solid black;
        font-size: small;      
        height: 30vh;        
        overflow: hidden;         
    }    
     /* # Card spacer seperates the image from the Product card border */
    .cardSpacer{      
        margin: 2% 2% 2% 2%;      
        overflow: hidden;        
        position: relative; 
        width:96%;
        height:91%;       
    }
    .cardSpacer > img{
        width: 150%;
        height: 150%;        
        object-fit: cover;
        object-position:  80% 70%;
    }
        /* !! IMPORTANT .label is for the flag, .noLabel makes sure it's not shown, make sure to match it with the html !! this way you can change it as desired */
    .productCard .label{
        position: absolute;
        left: 0;
        top: 0;
        width: 10%;
        height: 30%;
        background-color: red;
        z-index: 2;
        clip-path: polygon(100% 0%, 100% 100%, 50% 80%, 0 100%, 0 0);
        display: unset;
        text-align: center;
    }
    .productCard .noLabel{       
        display: none;
    }
    .productCard .label h2{
        padding-top: 1rem ;
        font-size: 1rem;
        font-weight: bolder;
        color:#FFFFFF;
    }
    /* # product info is the div that containt product info
    set the position to height 0 so it wont show and position absolute,fast transition so it moves*/

    .productInfo{  
        height: 0%;            
        width: 100%;
        padding: 0;
        position: absolute;
        bottom: -20%;
        font-size: 40px;
        transition-duration: 0.1s;
        z-index: 5;
    }
    .productInfo h3{
        font-size: 1rem;
    }
    /* # added 80 to the background color, notice 80 after #FDB822 */
        /* # Product hover options */
    .productCard:hover .productInfo{
        height: 50%;
        background-color:#FDB82280;
        bottom:0;    
    }
    .productCard:hover img{
        opacity: 0.5;
    }
    .productInfo ul{        
        margin: 0 auto;
        transform: translateY(-30px);
        align-items: center;
        width: 80%;
        display: flex;
        justify-content: space-around;      
        padding: 0 0 5% 0;
    }
    /* set general settings for each of the li: after items,  */

    .productInfo ::after{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 600;
        font-size: 1rem;
        border: 1px solid #333333;
        border-radius: 50%;
        padding: 1rem;
    }
    .productInfo li:nth-child(1)::after{
        content:"\f002";
        background-color: #FFFFFF;
        color:#684F40;        
    }
    .productInfo li:nth-child(2)::after{
        content:"\f0c1"; 
        background-color: #FFFFFF;
        color:#684F40;
    }
    .productInfo li:nth-child(3)::after{
        content:"\f07a";
        background-color: #FFFFFF;
        color:#684F40;
    }  

     /* # Pagination section */
     
    .productContainer .productCard:nth-child(n+2) { display:none;}    
    .productPagination { text-align:center; margin: 1rem 0 1rem 0; }
    .productPagination li { display: inline-block; font-size: 0; width: 1rem; height: 1rem; margin: 0 0.1em; border-radius: 50%;  }
    .productPagination [type="radio"] {
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 1px solid #333333;
        border-radius: 50%;
        background-clip: content-box;
        padding: 2px;
    }    
    .productPagination input[type="radio"]:checked {
        background-color: #FDB822 ;
        border: 1px solid #FDB822;
    }   
    .products a{
        color: #684F40;
        width:fit-content;
        margin:5% auto;
        text-align: center;
        font-size: 1rem;       
        display:block;
        left: 50%;
        border: 1px solid;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
    }    

    /* ===========================
       =====   Testimonial =======
       =========================== */

    .testimonials{
        margin-bottom: 1rem;
    }
    .testimonialContainer{
        position: relative; 
        width: 100%;          
        height: 30vh;
        overflow: hidden;
    }
    .testimonialContainer > img{
        position: absolute;            
        opacity: 0.4;
        width: 100%;       
    }
    .testimonialCard{
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 30vh;
        z-index: 1;
        background-color: #FDB82280;
    }
    .testimonialCard > img{        
        position: absolute;
        right: 60%;
        height: 60%;
        top: -1rem;
        transform: rotate(-10deg);
        border: 1px solid #000000;
        padding: 0.5rem;
        background-color: #FFFFFF;
    }
    .testimonialCard h2{
        position: absolute;
        right: 20%;
        bottom: 50%;
        font-size: 1rem;
        
    }
    .testimonialCard p{
        position: absolute;
        bottom: 10%;
        padding: 1rem;
        z-index: 2;
        font-family: "open_sansregular";
        font-size: 1rem;
        color: #684F40;
    }    
    .testomonialPagination { 
        text-align:center; 
        margin: 0 0 1rem 0;
        position: absolute;
        bottom: 6%;
        right:10%;
    }
    .testomonialPagination { text-align:center; margin: 1rem 0 1rem 0; }
    .testomonialPagination li { display: inline-block; font-size: 0; width: 1rem; height: 1rem; margin: 0 0.1em; border-radius: 50%;  }
    .testomonialPagination [type="radio"] {
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 1px solid #333333;
        border-radius: 50%;
        background-clip: content-box;
        padding: 2px;
    }    
    .testomonialPagination input[type="radio"]:checked {
        background-color: #684F40 ;
        border: 1px solid #684F40;        
    }
    /* ===========================
       =====   Services    =======
       =========================== */
    
    .services{
        margin: 0 5%;
    }
    .serviceHeader{
        text-align: center;
    }
    .serviceCards {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(1, 1fr);
        grid-column-start: auto;        
    }
    .serviceCard{     
        text-align: center;  
        gap:2rem; 
        padding:1rem;     
    }
    .serviceCard img{       
        width:30%;
        border-radius: 50%;
        border: 1px solid black;
        padding: 7%;
        margin: 1rem;    
    }

    /* ===========================
       =====   About & Sub  ======
       =========================== */
   
    .aboutSub{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(3, 1fr) ;
        gap: 1rem;        
        padding: 5%;
        background-color: #696969;        
    }
    .aboutSub img {
        display: none;
    }
    .aboutSub h2{
        color: #ffffff;
    }
    .aboutSub p{
        color: #ffffff;
        font-size: 0.8rem;
        margin-top: 1rem;        
    }
    form {    
        display: flex;
        justify-content: center;
        align-items: center;       
        flex-direction: column;             
    }
    input[type=text] {
        width: 100%;
        height: 2rem; 
        border: 0;
        padding: 0; 
        background-color: #696969;
        color: #ffffff;
        border: 0.5px solid white;            
    }
    input[type=submit] {
        font-family: "open_sansregular";
        font-size: 1rem;
        text-transform: uppercase;
        width: 100%;
        height: 2rem;
        border: 0;
        padding: 0;
    }   

    /* ===========================
       =====     Footer    =======
       =========================== */

    /* # Note that the social media icons are the old version of FontAwesome  */
    footer h2{
        padding: 0 0 .5rem 0;
        color: #FFFFFF;
        font-weight: bold;
    }
    time{
        font-style: italic;
    }
    #footerSocMed ::before{
        font-family: "FontAwesome";
        color: #FFFFFF;
        font-weight: normal;
        font-size: 1rem;
    }
    #footerSocMed a{
        font-size: 0;
        text-decoration: none;
    }
    #footerSocMed{
        display: flex;    
    }
    #footerSocMed li{
        margin: 0 0.25rem;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        padding:5px;
    }
    #footerSocMed li:nth-child(1) a::before{ 
        content:"\f39e";                  
    }
    #footerSocMed li:nth-child(2) a::before{ 
        content:"\f099";           
    }
    #footerSocMed li:nth-child(3) a::before{ 
        content:"\f09e";           
    }
    #footerSocMed li:nth-child(4) a::before{ 
        content:"\f0d2";           
    }
    #footerSocMed li:nth-child(5) a::before{ 
        content:"\f08c";           
    }
    footer .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;   
        background-color: #333333;
        background-image: url("../images/icons_and_logos/logo-footer-background.png");
        background-position: right top;
        background-size: 30%;
        background-repeat: no-repeat;
        color: white; 
        padding: 5%; 
        font-size: 0.8rem;   
    }
    #footerContactUs ::before{
        font-family: "FontAwesome";
        color: #FFFFFF;
        font-weight: normal;
        font-size: 1rem;
        padding-right: 1rem;
    }
    #footerContactUs li:nth-child(1)::before{
        content:"\f095";
    }
    #footerContactUs li:nth-child(2)::before{
        content:"\f124";
    }
    #footerContactUs li:nth-child(3)::before{
        content:"\f0e0";
    }
    #footerContactUs li:nth-child(4)::before{
        content:"\f0ac";
    }


  
 
    
