@media screen and (min-width: 768px) {
   
    .serviceCards {       
        grid-template-columns: repeat(2, 1fr);       
        
    }
    body{
        
    }
        /* ## Products ## */

    .productContainer{
        
        grid-template-columns:repeat(3, 1fr);     
        
    }
    .productContainer .productCard:nth-child(n+2) { display:unset;}
    .productContainer .productCard:nth-child(n+7) { display:none}
    footer .container{
       
        grid-template-columns: repeat(2, 1fr);
       

    }

    /* ## Testimonials ## */

    
    .testimonialCard img{             
        right: 70%;
        height:100%;
        top: 0rem;
        transform: rotate(-5deg);
    }
    .testimonialCard h2{               
        right: 60%;
        top: unset;
        bottom: 10%;
        color: #FFFFFF;   
        background-color: #684F40;   
        padding: 0.7rem; 
                
    }
    .testimonialCard p{               
        bottom: 25%;
        left: 45%; 
        
    }

    
    

     /* ## About ## */
     .aboutSub{
        display: grid;        
        grid-template-rows:max-content;
        gap: 1rem;        
        text-align: center;
    }
    .aboutSub div{
        height: fit-content;
    }
    .aboutSub img {
        display:unset;
        margin: 0 auto;
    }
    form {    
        display: flex;
        justify-content: center;
        align-items: center;       
        flex-direction: row; 
        gap: 1rem; 
                
    }
  
     input[type=submit] {
       
         width:45%;
         height: 2rem;
         font-size: 0.8rem;
        
     }
      /* ##Footer## */
    
 


    
}